@import url('https://fonts.googleapis.com/css?family=Oswald:700');


nav{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(105, 136, 204) 100%);
  height: 100px;
  font-family: 'Oswald', sans-serif;
}

.nav-menu {
  padding-top: 20px;
}

.nav-menu li {
  display: inline;
  margin: 15px;
  padding: 15px;
  font-size: 40px;
}

.nav-menu li:hover{
  width: 50px;
}

.nav-menu a{
  color: white;
  text-decoration: none;
}

.nav-menu a:hover{
  padding: 1em;
  color: rgb(78, 77, 77);
  border-radius: 5px;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255,0.9);


}

.intro-title {
  margin-top: 200px;
  font-size: 80px;
}

label {
  margin: 15px;
}

.user-input {
  margin: 15px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.user-submit {
  margin: 15px;
  padding: 15px;
  width: 100px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 3px rgb(233, 233, 233);
  font-size: 16px;
  color: white;
  background-color: #3e83d7;
}

.user-submit:hover {
  background-color: #76aef2;
  color: white;
}


.container {
  height: 100vh;
}

.hand{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card{
  text-align: center;
  border: 1px solid black;
  width: 13em;
  margin: 0 auto;
  height: 17em;
  background-image: url(../images/cardLay.png);
  background-size: cover;
  position: relative;


  h1{
    margin-top: 0px;
  }

  h2{
    position: absolute;
    top: 14px;
    left: 75px;
  }
  img{
    margin-top: 33px;
    width: 185px;
    height: 140px;
    z-index: 1;
  }
}
.gameBoard{
  background-image: url(../images/comic_background.jpg);
}
