//https://www.w3schools.com/css/css3_buttons.asp

@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

nav{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(105, 136, 204) 100%);
  height: 100px;
  font-family: 'Oswald', sans-serif;
}

.nav-menu {
  padding-top: 20px;
}

.nav-menu li {
  display: inline;
  margin: 15px;
  padding: 15px;
  font-size: 40px;
}

.nav-menu li:hover{
  width: 50px;
}

.nav-menu a{
  color: white;
  text-decoration: none;
}

.nav-menu a:hover{
  padding: 1em;
  color: rgb(78, 77, 77);
  border-radius: 5px;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255,0.9);


}

.intro-title {
  margin-top: 200px;
  font-size: 80px;
}

label {
  margin: 15px;
}

.user-input {
  margin: 15px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.user-submit {
  margin: 15px;
  padding: 15px;
  width: 100px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 3px rgb(233, 233, 233);
  font-size: 16px;
  color: white;
  background-color: #3e83d7;
}

.user-submit:hover {
  background-color: #76aef2;
  color: white;
}


.container {
  height: 100vh;
}

.splash {
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rules {
  border-radius: 5px;
  margin: 0em 15em;
  text-align: left;
  font-size: 16px;

}

.card {
  text-align: center;
  // border: 1px solid black;
  width: 13em;
  margin: 0 auto;
  height: 17em;
  background-image: url(../images/cardLay.png);
  background-size: cover;
  position: relative;
  border-radius: 10px;


  h1 {
    margin-top: 0px;
  }

  h2 {
    position: absolute;
    top: 14px;
    left: 45px;
    color: white;
  }
  h3{
    color: white;
    font-size: 25px;
  
  }
  img {
    margin-top: 33px;
    width: 188px;
    height: 140px;
    z-index: 1;
  }
}

.placeholder {
  width: 13em;
  margin: 0 auto;
  height: 17em;
  position: relative;


  h1 {
    margin-top: 0px;
  }

  h2 {
    position: absolute;
    top: 14px;
    left: 75px;
  }
  img {
    margin-top: 33px;
    width: 185px;
    height: 140px;
    z-index: 1;
  }
}


.gameBoard {
  background-image: url(../images/comic_background.jpg);
}
.pVSc{
  color: white;
  font-size: 30px;
  // font-family: 'Stardos Stencil', cursive;
  font-family: 'Bungee Shade', cursive;
  display: block;
  background-color: darkblue;
  margin-bottom: 20px;
  padding: 10px;
}

.winPage{
  background-image: url(../images/comic_background.jpg);
  font-family: 'Oswald', sans-serif;
  height: 700px;
  position: relative;
 
  .final_results1{
    position: absolute;
    top: 100px;
    left: 250px;
    font-size: 50px;
    color: Black;
  }
  .final_results2{
    position: absolute;
    top: 250px;
    left: 270px;
    font-size: 50px;
    color: Black;
  }
  
    .button {
      background-color: darkred; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: 'Stardos Stencil', cursive;
      font-size: 20px;
      margin: 10px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .button1{
      background-color: white; 
      color: black; 
      border: 2px solid darkred;
      position: absolute;
      top: 350px;
      left: 400px;

    }
    .button1:hover{
      background-color: darkred;
      color: white;
    }
    .button2{
      background-color: white; 
      color: black; 
      border: 2px solid darkred;
      position: absolute;
      top: 350px;
      left: 650px;
    }
    .button2:hover{
      background-color: darkred;
      color: white;
    }



}
