/************************
  Card Variables
*************************/
$card-back: url(../images/card-back.png);
$card-lay: url(../images/cardLay.png);

/************************
    Color Variables
*************************/
$sub-header-background-color: #1a2546;